
    <h3 style="text-align: center; font-family:Impact;">Boats</h3>
    <hr style=" margin-left: 0px; height: 4px;">
    <div class="row" >
        <!-- FOR OGNI NAVE -->
        <span class="col-5" *ngFor="let boat of boatsList" style="margin-left: 0px;">
            
            <!-- FOR OGNI CASELLA OCCUPATA DALLA NAVE -->
            <fa-icon
                class="fa-solid fa-lg"
                *ngFor="let coords of boat.coordinates"
                [icon]="faIcon"
                style="margin-left: 2px;"
                [style]="{'color': (boat.destroyed) ? 'green' : 'red'}">
            </fa-icon>
            <hr style="height: 2px; width: 100px;">
        </span>
    </div>

