

<!-- style="background-image: url(./assets/images/battalia.jpeg); background-size:1700px; background-repeat: no-repeat; background-position-y: center;" -->

<div class="container-fluid" style="width: 100%;" >
  <!-- HEADER -->
  <div class="row" >
    <div class="col-5 d-flex flex-row-reverse">
      <fa-icon
        class="fa-solid fa-2x"
        [icon]="faIcon"
        style="color: rgb(52, 116, 255);">
      </fa-icon>
    </div>

    <div class="col-2 d-flex justify-content-center" >
      <h2 style="text-align: center;">Battaglia Navale</h2>
    </div>
    
    <div class="col-5 d-flex ">
      <fa-icon
        class="fa-solid fa-2x"
        [icon]="faIcon"
        style="color: rgb(52, 116, 255);">
      </fa-icon>
    </div>
  </div>
  
</div>
  

<div class="container-fluid" style="background-color: rgb(199, 199, 199);">

  <div class="row">
    <hr>
    <div class="col-2">  
    </div>
    <!-- Qui va la mappa/griglia -->
    <div class="col-8">
      <h1 *ngIf="win" style="text-align: center; color: green;">YOU WON</h1>
      <h1 *ngIf="lose" style="text-align: center; color: red;">YOU LOST</h1>
    </div>
    <div class="col-2">
    </div>
  </div>

  <app-grid-map></app-grid-map>

</div>

  
  


