
<button 
    class="btn btn-sq" 
    style="align-items: center; margin-left: 10px;"
    [style]="{'background-color': (show) ? 'forestgreen' : 'cornflowerblue'}"
    (click)="onShoot()" [disabled]="hit || end" >

    <span *ngIf="!hit" style="font-weight: 700; text-align: center; opacity: 50%;">{{coordinate}}</span>
    
    <ng-container *ngIf="hit">
        <fa-icon class="fa-lg" *ngIf="!occupied"   [icon]="faIcon" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
        <fa-icon class="fa-lg" *ngIf="occupied"   [icon]="faIconHit" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
    </ng-container> 

    
</button>

